//
   Created by akpillai on 15/07/16.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/form.css')

    script.
        function onClickCheck() {
            document.forms["adduser"].submit();
        }




    h1= title
    p Welcome,
        br
        | This is an experiment to understand peoples' perception of a webpage when presented with it for a very small amount of time.
        br
        | &ensp;&ensp;&ensp;&ensp;&ensp;TASK (10min):
        br
        | &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;A: First enter the basic details, after which you will be presented with a series of webpages for a duration of 7seconds each.
        br
        | &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;B: Each webpage will be followed by a rating page that will ask you to rate how much you liked/disliked the page.



    .form-style-5
        form#formAddUser(name="adduser",method="post",action="/adduser")
            input#inputUserName(type="text", placeholder="Name (optional)", name="username")
            input#inputUserEmail(type="text", placeholder="Email (optional)", name="email")
            input#inputUserAge(type="text", placeholder="Age", name="age",required)
            select#inputUserGender(name='gender', required)
                option(value = 'X', selected, disabled) Select Gender
                option(value = 'F') Female
                option(value = "M") Male
            input#inputUserOrigin(type="text", placeholder="Origin Country", name="location",required)
            button#btnSubmit(type="button" onclick="onClickCheck();") Start

        //button(type="" onclick="submitCode();") Start



    p#note For the purpose of the experiment please switch your browser to fullscreen and click "Start".
