//
   Created by akpillai on 18/07/16.
extends layout

block content
    link(rel='stylesheet', href='/stylesheets/rating.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    h1= title

    p (Progress: #{length} / 40)

    p Thank you! We appreciate your patience and co-operation.

    p How do you like the visual appearance of the website?
    br
    br

    form#formAddUser(name="saverating",method="post",action="/saverating")
        div#wrapper
            input#star1(type="radio", name="rating", value="1" checked="checked")
            label(for="star1")
            input#star2(type="radio", name="rating", value="2")
            label(for="star2")
            input#star3(type="radio", name="rating", value="3")
            label(for="star3")
            input#star4(type="radio", name="rating", value="4")
            label(for="star4")
            input#star5(type="radio", name="rating", value="5")
            label(for="star5")
            input#star6(type="radio", name="rating", value="6")
            label(for="star6")
            input#star7(type="radio", name="rating", value="7")
            label(for="star7")
            br
            br
        button#btnSubmit(type="submit") Next
