//
   Created by akpillai on 20/07/16.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/rating.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    p Welcome to Thanks!!