//
   Created by akpillai on 20/07/16.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/rating.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    p That is all!
    br
    | Thank You for participating in the research experiment.
    br
    | Your co-operation is appreciated.