//
   Created by akpillai on 19/07/16.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/webpage.css')

    script.
        var lastClicked;
        window.onload=function(){
            window.setTimeout("onClickCheck();", 7000);
            lastClicked=(new Date()).getTime();
            document.forms["rate"].submit();

        };

        function onClickCheck() {
            document.getElementById("docHeight").value = $(document).height();
            var timeNow = (new Date()).getTime();
            var timeElapsed = (timeNow-lastClicked)/1000;
            document.getElementById("time").value = timeElapsed;
            if(document.getElementById("distanceScroll").value == ""){
                document.getElementById("distanceScroll").value = $(window).height();
                document.getElementById("percentScroll").value = 0;
            }
            //document.forms["rate"].submit();
        }

        $(document).ready(function () {

            var maxScroll = 0;


            $(window).scroll(function (e) {
                var scrollTop = $(window).scrollTop();
                var docHeight = $(document).height();
                var winHeight = $(window).height();
                var scrollPercent = (scrollTop) / (docHeight - winHeight);
                var scrollPercentRounded = Math.round(scrollPercent * 100);

                console.log("Top: " + scrollTop);
                console.log("Bot" + (docHeight - winHeight));
                console.log("bot real" + (scrollTop + winHeight));

                if(maxScroll<=(docHeight - winHeight)){
                    maxScroll=(docHeight - winHeight);
                    document.getElementById("distanceScroll").value = maxScroll;
                    document.getElementById("percentScroll").value = scrollPercent*100;
                }
            });

        });



    form#toRate(name = "rate", method = "post", action = "/rate")
        img(src= "http://i.imgur.com/"+ result.url +".png" , onclick="onClickCheck();")
        input#time(type="hidden", value="", name="timeElapsed")
        input#percentScroll(type="hidden", value="", name="percentScroll")
        input#distanceScroll(type="hidden", value="", name="distanceScroll")
        input#docHeight(type="hidden", value="", name="docHeight")



