//
   Created by akpillai on 19/07/16.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/webpage.css')

    script.
        var lastClicked;
        window.onload=function(){
            window.setTimeout("rate.submit();", 70000);
            // OR window.setTimeout(function() { redirect(); }, 5000);
            lastClicked=(new Date()).getTime();
        };

        function onClickCheck() {
            var timeNow = (new Date()).getTime();
        //            if (timeNow > (lastClicked + 5000)) {
        //                // Execute the link action
        //            }
        //            else {
        //                alert('Please wait at least 5 seconds between clicks!');

        //    alert("LC " + lastClicked + " Timnoe " + timeNow);
        //            }
        //    alert("Time from page load is" + (timeNow-lastClicked)/1000);
            var timeElapsed = (timeNow-lastClicked)/1000;
            document.getElementById("time").value = timeElapsed;
            document.forms["rate"].submit();
        //            lastClicked = timeNow;
        }
    //p value for url is: #{result.url}

    form#toRate(name = "rate", method = "post", action = "/rate")
        img(src= "http://i.imgur.com/"+ result.url +".jpg" , onclick="onClickCheck();")
        input#time(type="hidden", value="", name="timeElapsed")


