body {
  padding: 50px;
  font: 16px "Avenir", Nuinto, Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
  height: 100%;
}

input{
  background-color: aliceblue;
}

a {
  color: #2c3e50;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/*p{*/
  /*align:center;*/
/*}*/

html {
  display: table;
  margin: auto;
  height: 100%;

}

body {
  display: table-cell;
  vertical-align: middle;
  horiz-align :center;
}

p{
  font: 20px "Avenir", Nuinto, Helvetica, Arial, sans-serif;
}